<html>
<head>
  <title>Execute All Summary :: <%= timestamp %></title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
</head>
<body>
  <div class="container">
    <h1>Executed <%= results.length %> Suites, <%= timestamp %></h1>
    <h2><small><a href="<%= url %>" target="_blank"><%= url %></a></small></h2>
    <div class="well well-sm">
      <button class="btn btn-danger">
        <span class="badge"><%= totals["error"] %></span> Errors
      </button>
      <button class="btn btn-warning">
        <span class="badge"><%= totals["fail"] %></span> Failures
      </button>
      <button class="btn btn-success">
        <span class="badge"><%= totals["pass"] %></span> Passes
      </button>
      <button class="btn btn-info">
        <span class="badge"><%= totals["skip"] %></span> Skips
      </button>
    </div>

    <div class="well well-sm">
    <% metadata.each do |leaf, tags| %>
      <div class="row">
        <div class="col-md-2"><strong><%= leaf %></strong></div>
        <div class="col-md-10">
          <div class="row">
          <% tags.each do |leaf, tags| %>
            <% next unless tags.length>0 %>
            <div class="col-md-2"><strong><%= tags.length %> <%= leaf.to_s.try(:pluralize) %></strong></div>
            <div class="col-md-10"><%= tags %></div>
          <% end %>
        </div>
        </div>
      </div>
    <% end %>
    </div>

    <% results.each_with_index do |result, index| %>
      <% suite_key = result.keys.first %>
      <% suite = result.values.first %>
      <% errored = suite[:tests].detect{|t| t["status"] == "error"} %>
      <% failed = suite[:tests].detect{|t| t["status"] == "fail"} || suite[:tests].detect{|t| t["status"] == "pass"}.nil? %>
      <div class="panel panel-<%= if errored then "danger" elsif failed then "warning" else "success" end %>">
        <div class="panel-heading" role="tab" id="heading<%= index %>">
          <h3 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= index %>" aria-expanded="true" aria-controls="collapse<%= index %>">
              <%= suite_key.to_s %>
            </a>
          </h3>
        </div>
        <div id="collapse<%= index %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading<%= index %>">
          <div class="panel-body">

            <% suite[:tests].each do |test| %>
              <% status_map = {"pass" => "success", "fail" => "warning", "error" => "danger", "skip" => "info"} %>
              <div class="panel panel-<%= status_map[test["status"]]%>">
                <div class="panel-heading">
                  <%= test["status"].upcase %> - <%= test["key"] %> - <%= test[:test_method].to_s %>
                </div>
                <div class="panel-body">
                  <% test.each do |key, value| %>
                    <% next if ["key", "code", :test_method].include?(key) %>
                    <% next if key=="data" && test["status"]!="error" %>
                    <div class="row">
                      <div class="col-md-1"><strong><%= key %></strong></div>
                      <div class="col-md-11">
                        <% if key == "data" %><pre><% end %>
                        <% if value.class == Hash %>
                          <% value.each do |k, v| %>
                            <div class="row">
                              <div class="col-md-1"><%= k %></div>
                              <div class="col-md-11"><%= v %></div>
                            </div>
                          <% end %>
                        <% elsif value.class == Array %>
                          <% value.each do |v| %>
                            <% if v.class == Hash %>
                              <% v.each do |vk, vv| %>
                                <div class="row">
                                  <div class="col-md-1"><%= vk %></div>
                                  <div class="col-md-11"><%= vv %></div>
                                </div>
                              <% end %>
                            <% else %>
                              <div class="row">
                                <div class="col-md-12"><%= v %></div>
                              </div>
                            <% end %>
                          <% end %>
                        <% else %>
                          <%= value %>
                        <% end %>
                        <% if key == "data" %></pre><% end %>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
            <% end %>

          </div>
        </div>
      </div>
    <% end %>

    <div class="text-center">
      <div class="btn btn-primary elevator-button">
        <span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span> Back to Top
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script>
    var Elevator=function(){"use strict";function n(n,e){for(var t in e)t in n||(n[t]=e[t]);return n}function e(n,e,t,u){return n/=u/2,1>n?t/2*n*n+e:(n--,-t/2*(n*(n-2)-1)+e)}function t(n){p||(p=n);var u=n-p,o=e(u,v,-v,A);window.scrollTo(0,o),A>u?s=requestAnimationFrame(t):i()}function u(){w||(w=!0,v=document.documentElement.scrollTop||m.scrollTop,f||(A=1.5*v),requestAnimationFrame(t),c&&c.play())}function o(){p=null,v=null,w=!1}function i(){o(),c&&(c.pause(),c.currentTime=0),d&&d.play()}function r(){w&&(cancelAnimationFrame(s),o(),c&&(c.pause(),c.currentTime=0),window.scrollTo(0,0))}function l(n){n.addEventListener("click",u,!1)}function a(n){m=document.body,n.element&&l(n.element),n.duration&&(f=!0,A=n.duration),n.mainAudio&&(c=new Audio(n.mainAudio),c.setAttribute("preload","true"),c.setAttribute("loop","true")),n.endAudio&&(d=new Audio(n.endAudio),d.setAttribute("preload","true")),window.addEventListener("blur",r,!1)}var c,d,m=null,s=null,A=null,f=!1,p=null,v=null,w=!1;return n(a,{elevate:u})}();
  </script>
  <script>
    function toggleErrors() {
      $(".panel-body > .panel-danger").parents(".panel-danger > .panel-collapse").collapse('toggle');
      $(".btn-danger").toggleClass("active");
    }

    function toggleFailures() {
      $(".panel-body > .panel-warning").parents(".panel-collapse").collapse('toggle');
      $(".btn-warnings").toggleClass("active");
    }

    function togglePasses() {
      $(".panel-body > .panel-success").parents(".panel-collapse").collapse('toggle');
      $(".btn-success").toggleClass("active");
    }

    function toggleSkips() {
      $(".panel-body > .panel-info").parents(".panel-collapse").collapse('toggle');
      $(".btn-info").toggleClass("active");
    }

    $(".btn-danger").click(toggleErrors);
    $(".btn-warning").click(toggleFailures);
    $(".btn-success").click(togglePasses);
    $(".btn-info").click(toggleSkips);
  </script>
  <script>
  // Elevator script included on the page, already.

  window.onload = function() {
    var elevator = new Elevator({
      element: document.querySelector('.elevator-button'),
      mainAudio: 'elevator-music.mp3',
      endAudio: 'ding.mp3'
    });
  }
  </script>
</body>
</html>
